.hero2 {
  padding: 50px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
	width: 270px;
	height: 270px;
	padding: 10px 20px;
  background-color: #f5f5f5;
}

.card-img {
	width: 240px;
	height: 176px;
}

.card-title {
  cursor: pointer;
	font-weight: 900;
	font-size: 20px;
	line-height: 50px;
	color: #2a2a2a;
  text-align: center;
  background-color: #ffffff;
  margin-top: 10px;
}

.heroo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big {
  width: 48%;
  margin: 45px 0;
  display: block;
}

@media (max-width: 1145px) {
	.hero {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

  .card {
		margin-top: 20px;
	}
}

@media (max-width:840px) {
  .heroo {
    display: block;
  }

  .big {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
  }
}

@media (max-width: 570px) {
  .big {
    width: 100%;
  }
}

@media (max-width: 570px) {
	.card {
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: space-evenly;
	}
}